<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
   <h2 > <b>Full Assessment For Pumping Lift Systems for   <%= @wellName%> in </b><%= DateTime.now.to_date %></h2>
   <br>
   <h2>Phase one  </h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Abb.</th>
        <%for pump in @pumps do%>
          <th> <%= pump[0] %></th>
        <%end%>
      </tr>
    </thead>
    <tbody>
      <tr>
      <td>
      Well Location
      </td>
      <td>
      WL
      </td>
      <%for pump in @pumps do%>
        <td> <%= pump[1]["WL"][0] %></td>
      <%end%>
      </tr>

         <tr>
      <td>
      Measured Pump Well Depth
      </td>
      <td>
      MD_pump
      </td>
      <%for pump in @pumps do%>
        <td> <%= pump[1]["MD_pump"][0] %></td>
      <%end%>
      </tr>

      <tr>
      <td>
      Well Deviation
      </td>
      <td>
      WD
      </td>
      <%for pump in @pumps do%>
        <td> <%= pump[1]["WD"][0] %></td>
      <%end%>
      </tr>

         <tr>
      <td>
      Casing Diameter
      </td>
      <td>
      CSG_ND
      </td>
      <%for pump in @pumps do%>
        <td> <%= pump[1]["CSG_ND"][0] %></td>
      <%end%> 
      </tr>

          <tr>
      <td>
      Dogleg Severity
      </td>
      <td>
      DS
      </td>
      <%for pump in @pumps do%>
        <td> <%= pump[1]["DS"][0] %></td>
      <%end%> 
      </tr>

          <tr>
      <td>
      Desired Gross Rate
      </td>
      <td>
      GQ
      </td>
      <%for pump in @pumps do%>
        <td> <%= pump[1]["GQ"][0] %></td>
      <%end%> 
      </tr>

      <tr>
      <td>
      Productivity Index
      </td>
      <td>
      J
      </td>
      <%for pump in @pumps do%>
        <td> <%= pump[1]["J"][0] %></td>
      <%end%> 
      </tr>

         <tr>
      <td>
      Bottomhole Temperature
      </td>
      <td>
      T_bh
      </td>
      <%for pump in @pumps do%>
        <td> <%= pump[1]["T_bh"][0] %></td>
      <%end%> 
      </tr>

      <tr>
      <td>
     Fluid Viscosity
      </td>
      <td>
      meo_m
      </td>
      <%for pump in @pumps do%>
        <td> <%= pump[1]["meo_m"][0] %></td>
      <%end%> 
      </tr>

            <tr>
      <td>
     Oil Gravity
      </td>
      <td>
      API
      </td>
      <%for pump in @pumps do%>
        <td> <%= pump[1]["API"][0] %></td>
      <%end%> 
      </tr>
            <tr>
      <td>
     Abrasives Production
      </td>
      <td>
      AP
      </td>
      <%for pump in @pumps do%>
        <td> <%= pump[1]["AP"][0] %></td>
      <%end%> 
      </tr>
            <tr>
      <td>
     Corrosive Fluid Production
      </td>
      <td>
      CP
      </td>
      <%for pump in @pumps do%>
        <td> <%= pump[1]["CP"][0] %></td>
      <%end%> 
      </tr>
            <tr>
      <td>
     Aromatics Production
      </td>
      <td>
      ArP
      </td>
      <%for pump in @pumps do%>
        <td> <%= pump[1]["ArP"][0] %></td>
      <%end%> 
      </tr>
            <tr>
      <td>
     Emulsion Production
      </td>
      <td>
      EP
      </td>
      <%for pump in @pumps do%>
        <td> <%= pump[1]["EP"][0] %></td>
      <%end%> 
      </tr>
            <tr>
      <td>
     Scale Production
      </td>
      <td>
      SP
      </td>
      <%for pump in @pumps do%>
        <td> <%= pump[1]["SP"][0] %></td>
      <%end%> 
      </tr>
            <tr>
      <td>
     Paraffin Production
      </td>
      <td>
      PP
      </td>
      <%for pump in @pumps do%>
        <td> <%= pump[1]["PP"][0] %></td>
      <%end%> 
      </tr>

             <tr>
      <td>
     Gas Liquid Ratio
      </td>
      <td>
      GLR
      </td>
      <%for pump in @pumps do%>
        <td> <%= pump[1]["GLR"][0] %></td>
      <%end%> 
      </tr>
             <tr>
      <td>
     Available Prime mover
      </td>
      <td>
      APM
      </td>
      <%for pump in @pumps do%>
        <td> <%= pump[1]["APM"][0] %></td>
      <%end%> 
      </tr>
             <tr>
      <td>
     Staff Experience
      </td>
      <td>
      SE
      </td>
      <%for pump in @pumps do%>
        <td> <%= pump[1]["StE"][0] %></td>
      <%end%> 
      </tr>
             <tr>
      <td>
     Available Servicing type
      </td>
      <td>
      AST
      </td>
      <%for pump in @pumps do%>
        <td> <%= pump[1]["AST"][0] %></td>
      <%end%> 
      </tr>
             <tr>
      <td>
     PLS Flexibility
      </td>
      <td>
      PF
      </td>
      <%for pump in @pumps do%>
        <td> <%= pump[1]["PF"][0] %></td>
      <%end%> 
      </tr>
             <tr>
      <td>
     PLS Reliability
      </td>
      <td>
      PR
      </td>
      <%for pump in @pumps do%>
        <td> <%= pump[1]["PR"][0] %></td>
      <%end%> 
      </tr>
             <tr>
      <td>
     System Efficiency
      </td>
      <td>
      SE
      </td>
      <%for pump in @pumps do%>
        <td> <%= pump[1]["SE"][0] %></td>
      <%end%> 
      </tr>

            <tr>
      <td>
     Positive Separation
      </td>
      <td>
      positiveSep
      </td>
      <%for pump in @pumps do%>
        <td> <%= pump[1]["positiveSep"].round(3) %></td>
      <%end%> 

      </tr>
            <tr>
      <td>
     Negative Separation
      </td>
      <td>
      negativeSep
      </td>
      <%for pump in @pumps do%>
        <td> <%= pump[1]["negativeSep"].round(3) %></td>
      <%end%> 

      </tr>
            <tr>
      <td>
     ci
      </td>
      <td>
      ci
      </td>
      <%for pump in @pumps do%>
        <td> <%= pump[1]["ci"].round(3) %></td>
      <%end%> 
      </tr>


    </tbody>
  </table>
<br>

<% if @pump1 %>

<h2>Pump 1 : RRP</h2>

<h3>Phase 2 </h3>
  <b>Surface Equipment :</b>            
  <table class="table table-striped">

    <tbody>
    
      <tr>
      <td>
      Pumping Unit Designation 
      </td>
      <td>
      C
      </td>
       <td>
         <%= @pump1[:PT1000] %>
      </td>
       <td>
         <%= @pump1[:PPRL100] %>
      </td>
       <td>
         <%= @pump1[:SL] %>
      </td>
      </tr>
      <tr>
      <td>
      NEMA D Motor
      </td>
      <td>
         <%= @pump1[:MHP_srps] %>
      </td>
      <td>
      HP
      </td>
     
      </tr>
    </tbody>
  </table>
  <b>Downhole Equipment :</b> 
<table class="table table-striped">
    <tbody>
  <tr>
  <td>
  1-Rod-Characteristics
  </td>
  </tr>

  <tr>
  <td>
  Rod Size :
  </td> 
  <td>
  
   <%= @pump1[:SR_ND] %>
  </td> 
  </tr>
    <tr>
  <td>
  NO.  Rods for each size :
  </td> 
  </tr>

     <tr>
  <td>
  6/8 "
  </td> 
   <td>
   <%= @costpump1[:no6] %>
  </td> 
  </tr>

   <tr>
  <td>
  7/8 "
  </td> 
   <td>
   <%= @costpump1[:no7]  %>
  </td> 
  </tr>

    <tr>
  <td>
  1 "
  </td> 
   <td>
   <%= @costpump1[:no8]  %>
  </td> 
  </tr>


    <tr>
  <td>
  1 1/8"
  </td> 
   <td>
   <%= @costpump1[:no9]  %>
  </td> 
  </tr>

  <tr>
  <td>
  Rod Type ( Weatherford Nomenclature ) : 
  </td>
   <td>
    <%= @pump1[:RT]  %> 
  </td>
  </tr>

  

</tbody>
  </table>


 <b> 2-Downhole Pump -Characteristics</b> 
 <table class="table table-striped">
    <tbody>

    <tr>
    <td>
        Pump Designation :

    </td>
      <td>
      <% if @pump1[:TBG_ID] == 1.995 %>
  20
<% elsif  @pump1[:TBG_ID] == 2.441  %>
 25
 <% elsif  @pump1[:TBG_ID] == 2.992  %>
 30
 <% elsif  @pump1[:TBG_ID] == 3.958  %>
 40

<% end %>

    </td>

    <td>
     <%=   @pump1[:ID_p]*100.0  %>
    </td>
    <td>
    
<% if @pump1[:rrpt] == 'Tubing Pump' %>
  T 
<% elsif  @pump1[:rrpt] == 'Rod Pump'  %>
 RA 
<% end %>
    </td>
    <td>
    HC
    </td>
    <td>
   <%=   @pump1[:L_bs] %> 
    </td>
    <td>
 <%=   @pump1[:L_p] %> 
    </td>
       <td>
 0
    </td>

    <tr>
   <td>
Pump Service Material :
    </td>
       <td>
    <% if @costpump1[:corrosivity] == 1 %>
    Corrosive Service
    <% elsif  @costpump1[:corrosivity] == 0  %>
     Non-corrosive Service
    <% end %>
    </td>
    </tr>
    </tbody>
    </table>


<h3>Phase 3 </h3>


 <table class="table table-striped">
    <tbody>
    <tr>
    <td>
      Years
    </td>
  <% for i in 1..@costpump1[:papd] do-%>
  <td>
   <%=   i-1  %>-<%=   i  %>
  </td>
<% end -%>
    </tr>
    <tr>
    <td>
    Cashflows
    </td>
    <% for i in 1..@costpump1[:papd] do-%>
  <td>
   <%=   i  %>
  </td>
<% end -%>
    </tr>


        <tr>
    <td>
    Capital Cost
    </td>
    <% @costpump1[:arraycapr].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>

    <tr>
    <td>
    Installation Cost
    </td>
    <% @costpump1[:arrayic].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>
      
      <tr>
       <td>
    M. & R. Costs per Cashflow
    </td>
  <td>
 <%=  (@costpump1[:mrc]/@costpump1[:papd]).ceil()  %>
  </td>
    </tr>

      <tr>
       <td>
    M.& R. Costs Change Rate (%)
    </td>
  <td>
 <%=  @costpump1[:mir]*100  %>
  </td>
    </tr>

      <tr>
    <td>
    M. & R. Costs After Change Rate 
    </td>
    <% @costpump1[:arraysumm].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>

        <tr>
       <td>
    Anuual M. & R. After Change Rate
    </td>
  <td>
 <%=  @costpump1[:summ].ceil()  %>
  </td>
    </tr>

              <tr>
       <td>
    Operating Cost
    </td>
  <td>
 <%=  @pump1[:EC_srp].ceil()  %>
  </td>
    </tr>

                <tr>
       <td>
    Operating Cost Change Rate (%)
    </td>
  <td>
 <%=  (@costpump1[:oir]*100).round() %>
  </td>
    </tr>

         <tr>
    <td>
    Operating Cost After Change Rate 
    </td>
    <% @costpump1[:arraysumo].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>

               <tr>
       <td>
   Anuual Operating Cost After Change Rate 
    </td>
  <td>
 <%=  @costpump1[:sumo].ceil()  %>
  </td>
    </tr>

            <tr>
    <td>
    Salvage Cost After Project Assessment 
    </td>
    <% @costpump1[:arraytse].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>
    <%if  $phaseoneparams[:WC].to_f != 100 %>
       <tr>
       <td>
    Oil Production Sales 
    </td>
  <td>
 <%=  @costpump1[:opt].ceil() %>
  </td>
    </tr>
    <tr>
    <td> Reservoir Depletion Rate ( % )</td>
    <td> <%= @costpump1[:rdr].to_f.ceil() %></td>    </tr>

           <tr>
       <td>
    Oil Prices Change Rate (%)
        </td>
  <td>
 <%=  (@costpump1[:opir]*100.0).round() %>
  </td>
    </tr>

    <tr>
    <td>
    Oil Production Sales After Change Rate
    </td>
    <% @costpump1[:arrayopt].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>

        <tr>
    <td>
    Inflow After Rates Of Change 
    </td>
    <% @costpump1[:arrayipi].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>

         <tr>
       <td>
      Cumulative Inflow
        </td>
  <td>
 <%=  @costpump1[:sumop].ceil() %>
  </td>
    </tr>

    <% end %>

           <tr>
    <td>
    Outflow After Rates Of Change 
    </td>
    <% @costpump1[:arrayofi].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>

          <tr>
       <td>
      Cumulative Outflow
        </td>
  <td>
 <%=  @costpump1[:cuo].ceil() %>
  </td>
    </tr>

        <tr>
       <td>
      Discount Rate 
        </td>
  <td>
 <%=  (@costpump1[:dr]*100).round() %>
  </td>
    </tr>
    <%if  $phaseoneparams[:WC].to_f != 100 %>

            <tr>
    <td>
    Present Inflow Value 
    </td>
    <% @costpump1[:arraynpvi].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>

       <tr>
       <td>
      Cumulative Discounted Inflow  
        </td>
  <td>
 <%=  (@costpump1[:cdi]).ceil() %>
  </td>
    </tr>
<% end %>
             <tr>
    <td>
    Present Outflow Value 
    </td>
    <% @costpump1[:arraynpvo].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>

        <tr>
       <td>
      Cumulative Discounted Outflow  
        </td>
  <td>
 <%=  (@costpump1[:cdo]).ceil() %>
  </td>
    </tr>
    <%if  $phaseoneparams[:WC].to_f != 100 %>

             <tr>
    <td>
    Net Persent Cashflow Value
    </td>
    <% @costpump1[:arrayncf].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>

      <tr>
       <td>
       Cumulative Discounted Cashflow  
        </td>
  <td>
 <%=  (@costpump1[:cdc]).ceil() %>
  </td>
    </tr>
<% end %>
</tbody>
  </table>
* M. & R. refers to Maintenance and Replacements
 <br>
  ** The capital and salvage costs include an additional 10% representing items that are not taken into account while pump parts selection
  <% end %>
  
<% if @pump2 %>
<br>
<h2>Pump 2 : ESP</h2>

<h3>Phase 2 </h3>
  <b>Surface Equipment :</b>            
  <table class="table table-striped">

    <tbody>
    
      <tr>
      <td>
  Switchboard 
      </td>
      <td>
<%= @pump2[:ssw] %>
      </td>
      </tr>

        <tr>
      <td>
  Junctionbox Voltage 
      </td>
      <td>
<%= @pump2[:sjb] %>
      </td>
          <td>
        kV
      </td>
      </tr>

             <tr>
      <td>
  Transformer Power
      </td>
      <td>
<%= @pump2[:kVA_t] %>
      </td>
          <td>
        kVA
      </td>
      </tr>
    </tbody>
  </table>
  <b>Downhole Equipment :</b>            

  <table class="table table-striped">

    <tbody>
      <tr>
      <td>
      1- Downhole Pump Characteristics
      </td>
      </tr>

      <tr>
      <td>
      Pump Series
      </td>
      <td>
<%= @pump2[:series] %>
      </td>
      </tr>

          <tr>
      <td>
      Pump Type
      </td>
      <td>
<%= @pump2[:type] %>
      </td>
      </tr>

                <tr>
      <td>
      Pump Service
      </td>
      <td>
  <% if @costpump2[:corrosivity] == 1 %>
    Corrosive Service
    <% elsif  @costpump2[:corrosivity] == 0  %>
     Non-corrosive Service
    <% end %>
      </td>
      </tr>

       <tr>
      <td>
      Housing Number
      </td>
      <td>
  <%= @pump2[:HN]%>
      </td>
      </tr>
      <tr>
      <td>
      2 - Motor Characteristics
      </td>
      </tr>

     <tr>
      <td>
      Motor Series
      </td>
      <td>
  <%= @pump2[:motor]%>
      </td>
      </tr> 

      <tr>
      <td>
      Motor Horse Power
      </td>
      <td>
  <%= @pump2[:HP_ESPsm]%>
      </td>
        <td>
        HP
      </td>
      </tr> 

        <tr>
      <td>
      Motor Voltage
      </td>
      <td>
  <%= @pump2[:V_ESPsm]%>
      </td>
        <td>
        V
      </td>
      </tr> 

         <tr>
      <td>
      Motor Amperage
      </td>
      <td>
  <%= @pump2[:I_ESPsm]%>
      </td>
        <td>
        A
      </td>
      </tr> 

       <tr>
      <td>
      3 - Gas Separator Characteristics
      </td>
      </tr>

       <tr>
      <td>
      Gas Handling Equipment
      </td>
      <td>
  <%= @pump2[:GHE]%>
      </td>
      </tr>

      <tr>
      <td>
      Type Of Gas Separator
      </td>
      <td>
  <%= @pump2[:ts]%>
      </td>
      </tr>

      <tr>
      <td>
      3 - Electric Cable Characteristics
      </td>
      </tr>

      <tr>
      <td>
      Cable Type
      </td>
      <td>
  <%= @pump2[:PCT]%>
      </td>
      </tr>

      <tr>
      <td>
      Cable Length, ft: 
      </td>
      <td>
  <%= @pump2[:CL]%>
      </td>
      </tr>

      <tr>
      <td>
      Conductor Size 
      </td>
      <td>
  <%= @pump2[:SC]%>
      </td>
      </tr>
    </tbody>
  </table>


<h3>Phase 3 </h3>
<table class="table table-striped">
    <tbody>
    <tr>
    <td>
      Years
    </td>
  <% for i in 1..@costpump2[:papd] do-%>
  <td>
   <%=   i-1  %>-<%=   i  %>
  </td>
<% end -%>
    </tr>
    <tr>
    <td>
    Cashflows
    </td>
    <% for i in 1..@costpump2[:papd] do-%>
  <td>
   <%=   i  %>
  </td>
<% end -%>
    </tr>


        <tr>
    <td>
    Capital Cost
    </td>
    <% @costpump2[:arraycapr].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>

    <tr>
    <td>
    Installation Cost
    </td>
    <% @costpump2[:arrayic].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>
      
      <tr>
       <td>
    M. & R. Costs per Cashflow
    </td>
  <td>
 <%=  (@costpump2[:mrc]/@costpump2[:papd]).ceil()  %>
  </td>
    </tr>

      <tr>
       <td>
    M.& R. Costs Change Rate (%)
    </td>
  <td>
 <%=  @costpump2[:mir]*100  %>
  </td>
    </tr>

      <tr>
    <td>
    M. & R. Costs After Change Rate 
    </td>
    <% @costpump2[:arraysumm].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>

        <tr>
       <td>
    Anuual M. & R. After Change Rate
    </td>
  <td>
 <%=  @costpump2[:summ].ceil()  %>
  </td>
    </tr>

              <tr>
       <td>
    Operating Cost
    </td>
  <td>
 <%=  @pump2[:EC_esp].ceil()  %>
  </td>
    </tr>

                <tr>
       <td>
    Operating Cost Change Rate (%)
    </td>
  <td>
 <%=  (@costpump2[:oir]*100).round() %>
  </td>
    </tr>

         <tr>
    <td>
    Operating Cost After Change Rate 
    </td>
    <% @costpump2[:arraysumo].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>

               <tr>
       <td>
   Anuual Operating Cost After Change Rate 
    </td>
  <td>
 <%=  @costpump2[:sumo].ceil()  %>
  </td>
    </tr>

            <tr>
    <td>
    Salvage Cost After Project Assessment 
    </td>
    <% @costpump2[:arraytse].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>
    <%if  $phaseoneparams[:WC].to_f != 100 %>
       <tr>
       <td>
    Oil Production Sales
    </td>
  <td>
 <%=  @costpump2[:opt].ceil() %>
  </td>
    </tr>
    <tr>
    <td> Reservoir Depletion Rate ( 100% )</td>
    <td> <%= @costpump2[:rdr].to_f.ceil() %></td>    </tr>

           <tr>
       <td>
    Oil Prices Change Rate (%)
        </td>
  <td>
 <%=  (@costpump2[:opir]*100.0).round() %>
  </td>
    </tr>

    <tr>
    <td>
    Oil Production Sales After Change Rate
    </td>
    <% @costpump2[:arrayopt].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>

        <tr>
    <td>
    Inflow After Rates Of Change 
    </td>
    <% @costpump2[:arrayipi].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>

         <tr>
       <td>
      Cumulative Inflow
        </td>
  <td>
 <%=  @costpump2[:sumop].ceil() %>
  </td>
    </tr>
      <% end %>
           <tr>
    <td>
    Outflow After Rates Of Change 
    </td>
    <% @costpump2[:arrayofi].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>

          <tr>
       <td>
      Cumulative Outflow
        </td>
  <td>
 <%=  @costpump2[:cuo].ceil() %>
  </td>
    </tr>

        <tr>
       <td>
      Discount Rate 
        </td>
  <td>
 <%=  (@costpump2[:dr]*100).round() %>
  </td>
    </tr>
    <%if  $phaseoneparams[:WC].to_f != 100 %>

            <tr>
    <td>
    Present Inflow Value 
    </td>
    <% @costpump2[:arraynpvi].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>

       <tr>
       <td>
      Cumulative Discounted Inflow  
        </td>
  <td>
 <%=  (@costpump2[:cdi]).ceil() %>
  </td>
    </tr>
<% end %>
             <tr>
    <td>
    Present Outflow Value 
    </td>
    <% @costpump2[:arraynpvo].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>

        <tr>
       <td>
      Cumulative Discounted Outflow  
        </td>
  <td>
 <%=  (@costpump2[:cdo]).ceil() %>
  </td>
    </tr>
    <%if  $phaseoneparams[:WC].to_f != 100 %>

             <tr>
    <td>
    Net Persent Cashflow Value
    </td>
    <% @costpump2[:arrayncf].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>

      <tr>
       <td>
       Cumulative Discounted Cashflow  
        </td>
  <td>
 <%=  (@costpump2[:cdc]).ceil() %>
  </td>
    </tr>
<% end %>
</tbody>
  </table>
* M. & R. refers to Maintenance and Replacements
 <br>
  ** The capital and salvage costs include an additional 10% representing items that are not taken into account while pump parts selection

<br>
<% end %>
<% if @pump3 %>

<h2>Pump 3 : PCP</h2>

<h3>Phase 2 </h3>
  <b>Surface Equipment :</b>   
  <table class="table table-striped">

    <tbody>
    
      <tr>
      <td>
      Drivehead Designation 
      </td>
      <td>
      <%= @pump3[:Drive_Head] %>
      </td>
       <td>
         <%= @pump3[:PT1000] %>
      </td>
       <td>
      </td>
       <td>
      </td>
        <td>
      </td>
       <td>
      </td>
      </tr>

      <tr>
      <td>
      NEMA D Motor
      </td>
      <td>
         <%= @pump3[:MHP_Ps] %>
      </td>
      <td>
      HP
      </td>
      </tr>
         <tr>
      <td>
      Thurst Bearing Load
      </td>
      <td>
         <%= @pump3[:TB]/1000.0 %>
      </td>
      <td>
      1000 lb.
      </td>
      </tr>
    </tbody>
  </table>


  <b>Downhole Equipment :</b> 
<table class="table table-striped">
    <tbody>
  <tr>
  <td>
  1-Rod-Characteristics
  </td>
  </tr>

  <tr>
  <td>
  Rod Size :
  </td> 
  <td>
  
   <%= @pump3[:PR_ND] %>
  </td> 
  </tr>
    <tr>
  <td>
  NO.  Rods  :
  </td> 
  <td>
  <%= @costpump3[:ndp].ceil() %>
  </td>
  </tr>

  <tr>
  <td>
  Rod Type ( Weatherford Nomenclature ) : 
  </td>
   <td>
    <%= @pump3[:RT]  %> 
  </td>
  </tr>
<tr>
  <td>
  2-Downhole Pump Characteristics
  </td>
  </tr>
  <tr>
   <td>
    Pump Series (Weatherford Imperial)
  </td>
   <td>
    <%= @pump3[:IQ_PCP]  %> 
  </td>
     <td>
    <%= @pump3[:IH_PCP]  %> 
  </td>
  </tr>

    <tr>
   <td>
    Pump Stator  Matrial
  </td>
   <td>
    <%= @pump3[:stator_type]  %> 
  </td>
  </tr>

    <tr>
   <td>
Pump Service Material :
    </td>
       <td>
    <% if @costpump3[:corrosivity] == 1 %>
    Corrosive Service
    <% elsif  @costpump3[:corrosivity] == 0  %>
     Non-corrosive Service
    <% end %>
    </td>
    </tr>
</tbody>
  </table>

  <h3>Phase 3 </h3>
<table class="table table-striped">
    <tbody>
    <tr>
    <td>
      Years
    </td>
  <% for i in 1..@costpump3[:papd] do-%>
  <td>
   <%=   i-1  %>-<%=   i  %>
  </td>
<% end -%>
    </tr>
    <tr>
    <td>
    Cashflows
    </td>
    <% for i in 1..@costpump3[:papd] do-%>
  <td>
   <%=   i  %>
  </td>
<% end -%>
    </tr>


        <tr>
    <td>
    Capital Cost
    </td>
    <% @costpump3[:arraycapr].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>

    <tr>
    <td>
    Installation Cost
    </td>
    <% @costpump3[:arrayic].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>
      
      <tr>
       <td>
    M. & R. Costs per Cashflow
    </td>
  <td>
 <%=  (@costpump3[:mrc]/@costpump3[:papd]).ceil()  %>
  </td>
    </tr>

      <tr>
       <td>
    M.& R. Costs Change Rate (%)
    </td>
  <td>
 <%=  @costpump3[:mir]*100  %>
  </td>
    </tr>

      <tr>
    <td>
    M. & R. Costs After Change Rate 
    </td>
    <% @costpump3[:arraysumm].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>

        <tr>
       <td>
    Anuual M. & R. After Change Rate
    </td>
  <td>
 <%=  @costpump3[:summ].ceil()  %>
  </td>
    </tr>

              <tr>
       <td>
    Operating Cost
    </td>
  <td>
 <%=  @pump3[:EC_pcp].ceil()  %>
  </td>
    </tr>

                <tr>
       <td>
    Operating Cost Change Rate (%)
    </td>
  <td>
 <%=  (@costpump3[:oir]*100).round() %>
  </td>
    </tr>

         <tr>
    <td>
    Operating Cost After Change Rate 
    </td>
    <% @costpump3[:arraysumo].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>

               <tr>
       <td>
   Anuual Operating Cost After Change Rate 
    </td>
  <td>
 <%=  @costpump3[:sumo].ceil()  %>
  </td>
    </tr>
    <%if  $phaseoneparams[:WC].to_f != 100 %>

            <tr>
    <td>
    Salvage Cost After Project Assessment 
    </td>
    <% @costpump3[:arraytse].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>

       <tr>
       <td>
    Oil Production Sales
    </td>
  <td>
 <%=  @costpump3[:opt].ceil() %>
  </td>
    </tr>
    <tr>
    <td> Reservoir Depletion Rate ( 100% )</td>
    <td> <%= @costpump3[:rdr].to_f.ceil() %></td>    </tr>
           <tr>
       <td>
    Oil Prices Change Rate (%)
        </td>
  <td>
 <%=  (@costpump3[:opir]*100.0).round() %>
  </td>
    </tr>

    <tr>
    <td>
    Oil Production Sales After Change Rate
    </td>
    <% @costpump3[:arrayopt].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>

        <tr>
    <td>
    Inflow After Rates Of Change 
    </td>
    <% @costpump3[:arrayipi].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>

         <tr>
       <td>
      Cumulative Inflow
        </td>
  <td>
 <%=  @costpump3[:sumop].ceil() %>
  </td>
    </tr>
<% end %>
           <tr>
    <td>
    Outflow After Rates Of Change 
    </td>
    <% @costpump3[:arrayofi].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>

          <tr>
       <td>
      Cumulative Outflow
        </td>
  <td>
 <%=  @costpump3[:cuo].ceil() %>
  </td>
    </tr>

        <tr>
       <td>
      Discount Rate 
        </td>
  <td>
 <%=  (@costpump3[:dr]*100).round() %>
  </td>
    </tr>
    <%if  $phaseoneparams[:WC].to_f != 100 %>

            <tr>
    <td>
    Present Inflow Value 
    </td>
    <% @costpump3[:arraynpvi].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>

       <tr>
       <td>
      Cumulative Discounted Inflow  
        </td>
  <td>
 <%=  (@costpump3[:cdi]).ceil() %>
  </td>
    </tr>
<% end %>
             <tr>
    <td>
    Present Outflow Value 
    </td>
    <% @costpump3[:arraynpvo].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>

        <tr>
       <td>
      Cumulative Discounted Outflow  
        </td>
  <td>
 <%=  (@costpump3[:cdo]).ceil() %>
  </td>
    </tr>
    <%if  $phaseoneparams[:WC].to_f != 100 %>

             <tr>
    <td>
    Net Persent Cashflow Value
    </td>
    <% @costpump3[:arrayncf].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>

      <tr>
       <td>
       Cumulative Discounted Cashflow  
        </td>
  <td>
 <%=  (@costpump3[:cdc]).ceil() %>
  </td>
    </tr>
<% end %>
</tbody>
  </table>
* M. & R. refers to Maintenance and Replacements
 <br>
  ** The capital and salvage costs include an additional 10% representing items that are not taken into account while pump parts selection

<br>

<% end %>
<% if @pump4 %>


<h2>Pump 4 : ESPCP</h2>

<h3>Phase 2 </h3>
  <b>Surface Equipment :</b>   
  <table class="table table-striped">

    <tbody>
<tr>
<td>
Variable Frequency  Drive (VFD)
</td>
  <td>
 <%=  @pump4[:vfs] %>
  </td>
</tr>

  <tr>
      <td>
  Junctionbox Voltage 
      </td>
      <td>
<%= @pump4[:kv] %>
      </td>
          <td>
        kV
      </td>
      </tr>

             <tr>
      <td>
  Transformer Power
      </td>
      <td>
<%= @pump4[:st] %>
      </td>
          <td>
        kVA
      </td>
      </tr>
</tbody>
  </table>

<b>Downhole Equipment :</b>            

  <table class="table table-striped">

    <tbody>
      <tr>
      <td>
      1- Downhole Pump Characteristics
      </td>
      </tr>

      <tr>
      <td>
      Pump Rating
      </td>
      <td>
      <%= @pump4[:Model] %>
      </td>
      </tr>

          <tr>
      <td>
      Pump Model
      </td>
      <td>
<%= @pump4[:pump_maodel] %>
      </td>
      </tr>

                <tr>
      <td>
      Pump Service
      </td>
      <td>
  <% if @costpump4[:corrosivity] == 1 %>
    Corrosive Service
    <% elsif  @costpump4[:corrosivity] == 0  %>
     Non-corrosive Service
    <% end %>
      </td>
      </tr>

       <tr>
      <td>
      Stator Type
      </td>
      <td>
  <%= @pump4[:stator_type]%>
      </td>
      </tr>

      <tr>
      <td>
      2 - Electric Cable Characteristics
      </td>
      </tr>

      <tr>
      <td>
      Cable Type
      </td>
      <td>
  <%= @pump4[:type]%>
      </td>
      </tr>

      <tr>
      <td>
      Cable Length, ft: 
      </td>
      <td>
  <%= @pump4[:CL]%>
      </td>
      </tr>

      <tr>
      <td>
      Conductor Size 
      </td>
      <td>
  <%= @pump4[:SC]%>
      </td>
      </tr>
    </tbody>
  </table>
<h3>Phase 3 </h3>
<table class="table table-striped">
    <tbody>
    <tr>
    <td>
      Years
    </td>
  <% for i in 1..@costpump4[:papd] do-%>
  <td>
   <%=   i-1  %>-<%=   i  %>
  </td>
<% end -%>
    </tr>
    <tr>
    <td>
    Cashflows
    </td>
    <% for i in 1..@costpump4[:papd] do-%>
  <td>
   <%=   i  %>
  </td>
<% end -%>
    </tr>


        <tr>
    <td>
    Capital Cost
    </td>
    <% @costpump4[:arraycapr].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>

    <tr>
    <td>
    Installation Cost
    </td>
    <% @costpump4[:arrayic].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>
      
      <tr>
       <td>
    M. & R. Costs per Cashflow
    </td>
  <td>
 <%=  (@costpump4[:mrc]/@costpump4[:papd]).ceil()  %>
  </td>
    </tr>

      <tr>
       <td>
    M.& R. Costs Change Rate (%)
    </td>
  <td>
 <%=  @costpump4[:mir]*100  %>
  </td>
    </tr>

      <tr>
    <td>
    M. & R. Costs After Change Rate 
    </td>
    <% @costpump4[:arraysumm].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>

        <tr>
       <td>
    Anuual M. & R. After Change Rate
    </td>
  <td>
 <%=  @costpump4[:summ].ceil()  %>
  </td>
    </tr>

              <tr>
       <td>
    Operating Cost
    </td>
  <td>
 <%=  @pump4[:EC_espcp].ceil()  %>
  </td>
    </tr>

                <tr>
       <td>
    Operating Cost Change Rate (%)
    </td>
  <td>
 <%=  (@costpump4[:oir]*100).round() %>
  </td>
    </tr>

         <tr>
    <td>
    Operating Cost After Change Rate 
    </td>
    <% @costpump4[:arraysumo].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>

               <tr>
       <td>
   Anuual Operating Cost After Change Rate 
    </td>
  <td>
 <%=  @costpump4[:sumo].ceil()  %>
  </td>
    </tr>
    <%if  $phaseoneparams[:WC].to_f != 100 %>

            <tr>
    <td>
    Salvage Cost After Project Assessment 
    </td>
    <% @costpump4[:arraytse].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>

       <tr>
       <td>
    Oil Production Sales
    </td>
  <td>
 <%=  @costpump4[:opt].ceil() %>
  </td>
    </tr>
    <tr>
    <td> Reservoir Depletion Rate ( 100% )</td>
    <td> <%= @costpump4[:rdr].to_f.ceil() %></td>    </tr>
           <tr>
       <td>
    Oil Prices Change Rate (%)
        </td>
  <td>
 <%=  (@costpump4[:opir]*100.0).round() %>
  </td>
    </tr>

    <tr>
    <td>
    Oil Production Sales After Change Rate
    </td>
    <% @costpump4[:arrayopt].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>

        <tr>
    <td>
    Inflow After Rates Of Change 
    </td>
    <% @costpump4[:arrayipi].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>

         <tr>
       <td>
      Cumulative Inflow
        </td>
  <td>
 <%=  @costpump4[:sumop].ceil() %>
  </td>
    </tr>
      <% end %>
           <tr>
    <td>
    Outflow After Rates Of Change 
    </td>
    <% @costpump4[:arrayofi].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>

          <tr>
       <td>
      Cumulative Outflow
        </td>
  <td>
 <%=  @costpump4[:cuo].ceil() %>
  </td>
    </tr>

        <tr>
       <td>
      Discount Rate 
        </td>
  <td>
 <%=  (@costpump4[:dr]*100).round() %>
  </td>
    </tr>
    <%if  $phaseoneparams[:WC].to_f != 100 %>

            <tr>
    <td>
    Present Inflow Value 
    </td>
    <% @costpump4[:arraynpvi].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>

       <tr>
       <td>
      Cumulative Discounted Inflow  
        </td>
  <td>
 <%=  (@costpump4[:cdi]).ceil() %>
  </td>
    </tr>
<% end %>
             <tr>
    <td>
    Present Outflow Value 
    </td>
    <% @costpump4[:arraynpvo].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>

        <tr>
       <td>
      Cumulative Discounted Outflow  
        </td>
  <td>
 <%=  (@costpump4[:cdo]).ceil() %>
  </td>
    </tr>
    <%if  $phaseoneparams[:WC].to_f != 100 %>

             <tr>
    <td>
    Net Persent Cashflow Value
    </td>
    <% @costpump4[:arrayncf].each do |s| -%>
  <td>
   <%=   s.ceil() %>
  </td>
<% end -%>
    </tr>

      <tr>
       <td>
       Cumulative Discounted Cashflow  
        </td>
  <td>
 <%=  (@costpump4[:cdc]).ceil() %>
  </td>
    </tr>
<% end %>
</tbody>
  </table>

 
  * M. & R. refers to Maintenance and Replacements
  <br>
  ** The capital and salvage costs include an additional 10% representing items that are not taken into account while pump parts selection
  <% end %>
<br>
  <h2>Economic Parameters Comparison :</h2>

<table class="table table-striped">
    <tbody>
    <tr>
    <td>
    Economic Parameter
    </td>
    <%if  $phaseoneparams[:WC].to_f != 100 %>
    <td>
    BCR
    </td>
    
     <td>
    IRR (%)
    </td>
    <% end %>
    <td>
    EAC ($)
    </td>
    <%if  $phaseoneparams[:WC].to_f != 100 %>

     <td>
    WSM
    </td>
    <% end %>
    </tr>
    <%if  $phaseoneparams[:WC].to_f != 100 %>
    <tr>
    <td>
  Weight To Compare
    </td>
 <td>
   <%=  0.2  %>
    </td>
    <td>
   <%=  0.3  %>
    </td>
    <td>
   <%= 0.5 %>
    </td>
    </tr>
    <% end %>
    <% if @pump1 %>
    <tr>
    <td>
    RRP
    </td>
    <%if  $phaseoneparams[:WC].to_f != 100 %>
    <td>
     <%=  @costpump1[:bcr].round()   %>
    </td>
  
    <td>
     <%=  @costpump1[:irr].round()  %>
    </td>
    <% end %>
     <td>
     <%=  @costpump1[:eac].round()  %>
    </td>
    <%if  $phaseoneparams[:WC].to_f != 100 %>

    <td>
     <%=  @costpump1[:wsm].round()  %>
    </td>
    <% end %>
    </tr>
<% end %>
<% if @pump2 %>

     <tr>
    <td>
    ESP
    </td>
    <%if  $phaseoneparams[:WC].to_f != 100 %>
    <td>
     <%=  @costpump2[:bcr].round()  %>
    </td>
    
    <td>
     <%=  @costpump2[:irr].round()  %>
    </td>
    <% end %>
     <td>
     <%=  @costpump2[:eac].round()  %>
    </td>
    <%if  $phaseoneparams[:WC].to_f != 100 %>

    <td>
     <%=  @costpump2[:wsm].round()  %>
    </td>
    <% end %>
    </tr>
    <% end %>

    <% if @pump3 %>

     <tr>

    <td>
    PCP
    </td>
    <%if  $phaseoneparams[:WC].to_f != 100 %>
    <td>
     <%=  @costpump3[:bcr].round()  %>
    </td>
  
    <td>
     <%=  @costpump3[:irr].round()  %>
    </td>
    <% end %> 
     <td>
     <%=  @costpump3[:eac].round()  %>
    </td>
    <%if  $phaseoneparams[:WC].to_f != 100 %>

    <td>
     <%=  @costpump3[:wsm].round()  %>
    </td>
    <% end %>
    </tr>
    <% end %>
<% if @pump4 %>
      <tr>
    <td>
    ESPCP
    </td>
    <%if  $phaseoneparams[:WC].to_f != 100 %>
    <td>
     <%=  @costpump4[:bcr].round()  %>
    </td>
    
    <td>
     <%=  @costpump4[:irr].round()  %>
    </td>
    <% end %>
     <td>
     <%=  @costpump4[:eac].round()  %>
    </td>
    <%if  $phaseoneparams[:WC].to_f != 100 %>

    <td>
     <%=  @costpump4[:wsm].round()  %>
    </td>
    <% end %>
    </tr>

    <% end %>
    </tbody>

    </table>

    <h3>Assessment Recommendations Ascendingly </h3>  &nbsp;&nbsp;   <%= @keys[0] %> &nbsp;&nbsp; &  &nbsp;&nbsp; <%= @keys[1] %> &nbsp;&nbsp; & &nbsp;&nbsp;  <%= @keys[2] %> &nbsp;&nbsp; &  &nbsp;&nbsp; <%= @keys[3] %>
    <br>
    <h1>Phase Four</h1>
    <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Abb.</th>
        <%for pump in @rightpumps do%>
          <th> <%= pump[0] %></th>
        <%end%>
      </tr>
    </thead>
    <tbody>
      <tr>
      <td>
      Well Location
      </td>
      <td>
      WL
      </td>
      <%for pump in @rightpumps do%>
        <td> <%= pump[1]["WL"][0] %></td>
      <%end%>
      </tr>

         <tr>
      <td>
      Measured Pump Well Depth
      </td>
      <td>
      MD_pump
      </td>
      <%for pump in @rightpumps do%>
        <td> <%= pump[1]["MD_pump"][0] %></td>
      <%end%>
      </tr>

      <tr>
      <td>
      Well Deviation
      </td>
      <td>
      WD
      </td>
      <%for pump in @rightpumps do%>
        <td> <%= pump[1]["WD"][0] %></td>
      <%end%>
      </tr>

         <tr>
      <td>
      Casing Diameter
      </td>
      <td>
      CSG_ND
      </td>
      <%for pump in @rightpumps do%>
        <td> <%= pump[1]["CSG_ND"][0] %></td>
      <%end%> 
      </tr>

          <tr>
      <td>
      Dogleg Severity
      </td>
      <td>
      DS
      </td>
      <%for pump in @rightpumps do%>
        <td> <%= pump[1]["DS"][0] %></td>
      <%end%> 
      </tr>

          <tr>
      <td>
      Desired Gross Rate
      </td>
      <td>
      GQ
      </td>
      <%for pump in @rightpumps do%>
        <td> <%= pump[1]["GQ"][0] %></td>
      <%end%> 
      </tr>

      <tr>
      <td>
      Productivity Index
      </td>
      <td>
      J
      </td>
      <%for pump in @rightpumps do%>
        <td> <%= pump[1]["J"][0] %></td>
      <%end%> 
      </tr>

         <tr>
      <td>
      Bottomhole Temperature
      </td>
      <td>
      T_bh
      </td>
      <%for pump in @rightpumps do%>
        <td> <%= pump[1]["T_bh"][0] %></td>
      <%end%> 
      </tr>

      <tr>
      <td>
     Fluid Viscosity
      </td>
      <td>
      meo_m
      </td>
      <%for pump in @rightpumps do%>
        <td> <%= pump[1]["meo_m"][0] %></td>
      <%end%> 
      </tr>

            <tr>
      <td>
     Oil Gravity
      </td>
      <td>
      API
      </td>
      <%for pump in @rightpumps do%>
        <td> <%= pump[1]["API"][0] %></td>
      <%end%> 
      </tr>
            <tr>
      <td>
     Abrasives Production
      </td>
      <td>
      AP
      </td>
      <%for pump in @rightpumps do%>
        <td> <%= pump[1]["AP"][0] %></td>
      <%end%> 
      </tr>
            <tr>
      <td>
     Corrosive Fluid Production
      </td>
      <td>
      CP
      </td>
      <%for pump in @rightpumps do%>
        <td> <%= pump[1]["CP"][0] %></td>
      <%end%> 
      </tr>
            <tr>
      <td>
     Aromatics Production
      </td>
      <td>
      ArP
      </td>
      <%for pump in @rightpumps do%>
        <td> <%= pump[1]["ArP"][0] %></td>
      <%end%> 
      </tr>
            <tr>
      <td>
     Emulsion Production
      </td>
      <td>
      EP
      </td>
      <%for pump in @rightpumps do%>
        <td> <%= pump[1]["EP"][0] %></td>
      <%end%> 
      </tr>
            <tr>
      <td>
     Scale Production
      </td>
      <td>
      SP
      </td>
      <%for pump in @rightpumps do%>
        <td> <%= pump[1]["SP"][0] %></td>
      <%end%> 
      </tr>
            <tr>
      <td>
     Paraffin Production
      </td>
      <td>
      PP
      </td>
      <%for pump in @rightpumps do%>
        <td> <%= pump[1]["PP"][0] %></td>
      <%end%> 
      </tr>

             <tr>
      <td>
     Gas Liquid Ratio
      </td>
      <td>
      GLR
      </td>
      <%for pump in @rightpumps do%>
        <td> <%= pump[1]["GLR"][0] %></td>
      <%end%> 
      </tr>
             <tr>
      <td>
     Available Prime mover
      </td>
      <td>
      APM
      </td>
      <%for pump in @rightpumps do%>
        <td> <%= pump[1]["APM"][0] %></td>
      <%end%> 
      </tr>
             <tr>
      <td>
     Staff Experience
      </td>
      <td>
      SE
      </td>
      <%for pump in @rightpumps do%>
        <td> <%= pump[1]["StE"][0] %></td>
      <%end%> 
      </tr>
             <tr>
      <td>
     Available Servicing type
      </td>
      <td>
      AST
      </td>
      <%for pump in @rightpumps do%>
        <td> <%= pump[1]["AST"][0] %></td>
      <%end%> 
      </tr>
             <tr>
      <td>
     PLS Flexibility
      </td>
      <td>
      PF
      </td>
      <%for pump in @rightpumps do%>
        <td> <%= pump[1]["PF"][0] %></td>
      <%end%> 
      </tr>
             <tr>
      <td>
     PLS Reliability
      </td>
      <td>
      PR
      </td>
      <%for pump in @rightpumps do%>
        <td> <%= pump[1]["PR"][0] %></td>
      <%end%> 
      </tr>
             <tr>
      <td>
     System Efficiency
      </td>
      <td>
      SE
      </td>
      <%for pump in @rightpumps do%>
        <td> <%= pump[1]["SE"][0] %></td>
      <%end%> 
      </tr>

            <tr>
      <td>
     Positive Separation
      </td>
      <td>
      positiveSep
      </td>
      <%for pump in @rightpumps do%>
        <td> <%= pump[1]["positiveSep"].round(3) %></td>
      <%end%> 

      </tr>
            <tr>
      <td>
     Negative Separation
      </td>
      <td>
      negativeSep
      </td>
      <%for pump in @rightpumps do%>
        <td> <%= pump[1]["negativeSep"].round(3) %></td>
      <%end%> 

      </tr>
            <tr>
      <td>
     ci
      </td>
      <td>
      ci
      </td>
      <%for pump in @rightpumps do%>
        <td> <%= pump[1]["ci"].round(3) %></td>
      <%end%> 
      </tr>


    </tbody>
  </table>
<br>

</div>

</body>

</html>
